<style>
    div{
    height: 600px;
    border-left: 50px solid  	#8B008B;
    border-right: 50px solid  	#8B008B;
    border-bottom: 50px solid  	#8B008B;
    border-top: 50px solid  	#8B008B;
    margin: 10px;
    background-color: #6B8E23;
    padding: 20px;
    }
</style>



<div id = "div1" class>
    <h1>The People Site</h1>
    <p>This site allows you to add people with various information about them </p><br>
    <p>and to display said information through both graphics and text</p>


                <%= link_to 'New People', new_person_path %><br>
       <p></p>
                <%= link_to 'Display People', people_path %>
                
                 <img src=http://i.imgur.com/NHZzz6G.png> 
                
     
</div>
    
