
<div id = "div1" class>
    <h1>The People Site</h1>
    <p>This site allows you to add people with various information about them </p><br>
    <p>and to display said information through both graphics and text</p>

<div 2 id = "div2" class>

                <%= link_to 'New People', new_person_path %><br>
       
                <%= link_to 'Display People', people_path %>
                
     
</div>
    
</div>