<style>
    div{
    height: 600px;
    border-left: 50px solid  	#8B008B;
    border-right: 50px solid  	#8B008B;
    border-bottom: 50px solid  	#8B008B;
    border-top: 50px solid  	#8B008B;
    margin: 10px;
    background-color: #6B8E23;
    padding: 60px;
    
    font-family: "Courier New";
    }
</style>



<div id = "div1" class>
    <h1 style = "color:purple">THE PEOPLE SITE</h1>
    <p><i> Keeping track of people, by people, for people, since 2016 </i>.</p><br>
  


                <%= link_to 'New People', new_person_path %><br>
       <p></p>
                <%= link_to 'Display People', people_path %>
                
                 <img src=http://i.imgur.com/NHZzz6G.png style = "float:right"> 
                
     
</div>
    
